<html>
    <link rel="stylesheet" href="/static/styles1.css">
    

    <h1><center>NO WORRIES!😉</center></h1>
    <h3><center>THE POSSIBLITY OF COVID IS LESS</center></h3>
    <p>You are free from COVID,Complete vaccination if pending,follow the  covid protocols to always keep you safe and healthy</p> </p>
    <p>To prevent the spread of COVID-19:<br><br>
        🟢Maintain a safe distance from others (at least 1 metre), even if they don’t appear to be sick.
        <br>
        🟢Wear a mask in public, especially indoors or when physical distancing is not possible.
        <br>
        🟢Clean your hands often. Use soap and water, or an alcohol-based hand rub.
        <br>
        🟢Get vaccinated when it’s your turn.
        <br>
        🟢Follow local guidance about vaccination.
        <br>
        🟢Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
        <br>
        🟢Stay home if you feel unwell.</p>
        <p>For more details   <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">CLICK HERE</a></p>

    <h3><center>😇HAVE A HEALTHY DAY😇</center></h3>
    </html>
