
<html>
    <link rel="stylesheet" href="/static/styles2.css">
    <h1><center>❗ WARNING ❗</center></h1>
    <h3><center>CHANCE OF COVID INFECTED IS HIGH </center></h3>
    <h1>Steps to help prevent the spread of COVID-19 </h1>
    <p>🔺Stay home except to get medical care</p>
    <p>🔺Separate yourself from other people</p>
    <p>🔺Monitor your symptoms</p>
    <p>🔺Clean all “high-touch” surfaces every day</p>
    <p>🔺Avoid sharing personal household items</p>
    <p>🔺Get Tested</p>
    <p>For more details   <a href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">CLICK HERE</a></p>
    <h2><center>😇GET WELL SOON, WE WANT TO SEE YOU HEALTHY BACK AGAIN😇</center></h2>
    <br>
    <h2>**NOTE**</h2>
    <p>The results are the predictions,the results are not accurate, the results may or may not vary,the ressults are not mennt for final conclution.</p>
</html>